[2017-02-25 23:26] alexdresko opened #1 "Show a readme after installing the nuget package"
Simply installing the nuget package requires a tiny modification to program.cs for everything to work. The nuget package can do a better job of letting the user know what modifications to make.

[2017-02-25 23:29] alexdresko opened #2 "Document the template code"
The template code doesn't do a good job of explaining what to do next.

[2017-02-25 23:52] alexdresko opened #3 "Integrate HSPIBase.cs and thr pagbuilder.cs"
See https://forums.homeseer.com/showthread.php?t=184086

[2017-02-25 23:52] alexdresko opened #4 "Add the original HS templates"
See https://forums.homeseer.com/showthread.php?t=160064

[2017-02-25 23:53] alexdresko opened #5 "Add Amazon ECHO support"
See https://forums.homeseer.com/showthread.php?t=180113

[2017-02-26 16:20] alexdresko opened #6 "Abtract IPlugInAPI using the facade pattern"
`IPlugInAPI` is difficult to use. I believe we can insert a facade that is easier to use and that ultimately prevents developers from making common HS plugin mistakes.

So instead of inheriting from `IPlugInAPI`, a plugin author would inherit from something like `IBetterPlugInAPI` (TBD).

The traditional HS API is pretty much locked into place and can't change without negatively affecting existing

[2017-02-26 16:37] alexdresko opened #7 "Enable Connector.Connect to use custom IP and port"
The IP and port are hardcoded right now. It should be possible to override the defaults here:

![image](https://cloud.githubusercontent.com/assets/333022/23341567/fc680cd8-fc17-11e6-90ae-834d9f1b8260.png)

[2017-02-26 16:39] alexdresko opened #8 "Change everything to use x86 instead of AnyCPU"
From what I've read on the forums, it seems like HS plugins have to be compiled as x86.

This will require a coordinated template push and nuget package push.

Also, make sure I update the bundled nuget packages in the template.

[2017-02-26 16:41] alexdresko opened #9 "Scour the forums for issues to solve"
Create new issues in this repo if they can be addressed by this framework. Be sure to point each forum thread to the corresponding issue so that developers will know where to go for a solution.

[2017-02-27 01:37] alexdresko opened #16 "Readthedocs support"
Documentation is now hosted at http://hspi.readthedocs.io/en/latest/

[2017-02-27 01:38] alexdresko opened #17 "Automate nuget pack and push"
The AppVeyor build automatically creates a versioned nuget package that can be pushed to nuget.org from AppVeyor easily.

[2017-02-27 01:39] alexdresko opened #18 "Automate VSIX push to the VS marketplace"
The AppVeyor build does create the VSIX. I just have to figure out how to create a deployment that optionally pushes it to the marketplace.

[2017-02-27 01:40] alexdresko opened #19 "CI builds with AppVeyor"
Never used AppVeyor before, but I was able to get it working well. The master branch is now protected by an AppVeyor CI build that does a lot of other fancy stuff. Very rad.

[2017-02-27 01:42] alexdresko opened #20 "Gitter chat room"
There is now a Gitter chat room at https://gitter.im/HSPI. This room is integrated with AppVeyor, ReadTheDocs, and who knows what else. Great place to chat or just get a live stream of everything happening in HSPI.

[2017-02-27 01:44] #16 closed

[2017-02-27 01:44] #17 closed

[2017-02-27 01:44] #19 closed

[2017-02-27 01:44] #20 closed

[2017-02-27 19:38] alexdresko opened #21 "Enable support for VS 2017"
vsix 2017 support - Bing
https://www.bing.com/search?q=vsix+2017+support&PC=U316&FORM=CHROMN

Frequently Asked Questions | Microsoft Docs
https://docs.microsoft.com/en-us/visualstudio/extensibility/faq-2017

How to: Migrate Extensibility Projects to Visual Studio 2017 | Microsoft Docs
https://docs.microsoft.com/en-us/visualstudio/extensibility/how-to-migrate-extensibility-projects-to-visual-studio

[2017-02-27 19:38] MrMxyzptlk opened #22 "Won't install in VS 2017RC"
No luck installing in VS 2017RC.
It complains that there isn't a compatible version installed.

[2017-02-27 19:53] alexdresko commented on #22
Hi @MrMxyzptlk I already created an issue for this at https://github.com/alexdresko/HSPI/issues/21

Based on my initial research, I'm not sure of the exact fix. I ain't skeered though.

[2017-02-27 19:55] #22 closed

[2017-02-28 01:25] alexdresko commented on #21
@MrMxyzptlk I just published v1.1 of the plugin  which appears to work on VS 2017, at least on my machine. :) Don't know how long it will take to show up in the marketplace.

Keep in mind, there are other known issues in https://github.com/alexdresko/HSPI/milestone/1, but I'd love if you gave it a try and let me know what you think.

[2017-02-28 01:36] #21 closed

[2017-02-28 13:16] alexdresko commented on #21
@MrMxyzptlk I meant to let you know about my success on this yesterday, but forgot. Glad you figured it out already.

[2017-02-28 13:18] alexdresko opened #24 ""More lnfo" link 404"
Via @MrMxyzptlk: "when in VS and you click on 'more info' for your template, the URL you have is non existent...404."

[2017-02-28 13:19] alexdresko opened #25 "Template not showing up in list"
Via @MrMxyzptlk: "If you manually look through all of the VS templates (100's), that are installed, the HSPI template does not show up? Maybe I missed it? I had to type HSPI in the search box for installed templates to find it...may be me...maybe not?"

[2017-02-28 13:46] alexdresko opened #26 "Document existing situtation"
At minimum

* How to contribute
* Who it's for
* Getting Started

[2017-02-28 14:14] alexdresko commented on #25
If VS 2015 and VS 2017, the template shows up here:
![image](https://cloud.githubusercontent.com/assets/333022/23408465/23e79e48-fd96-11e6-8a99-1bb119357b10.png)

I'm going to try to move it to a HomeSeer folder though.

[2017-02-28 14:19] alexdresko opened #27 "Fix Template icon"
Reuse the HS icon I've been using elsewhere.

[2017-02-28 14:22] alexdresko commented on #27
She bangs

![image](https://cloud.githubusercontent.com/assets/333022/23408791/5d6ea1f6-fd97-11e6-8097-f1428502154e.png)

[2017-02-28 14:24] alexdresko commented on #25
She bangs
![image](https://cloud.githubusercontent.com/assets/333022/23408928/b72fa78a-fd97-11e6-947e-1e14b5b69836.png)

[2017-02-28 14:24] MrMxyzptlk commented on #25
Found it! This one was  my bad...

[2017-02-28 14:27] alexdresko commented on #25
@MrMxyzptlk Next release is going to be better anyway. Thanks for pointing it out.

[2017-02-28 14:45] alexdresko commented on #25
Just added the ability to search for "homeseer" to locate the templates.

@MrMxyzptlk probably by the end of the day. Going to see how many of the current milestone issues I can knock out today before publishing another release.

[2017-02-28 15:50] alexdresko opened #29 "Stackoverflow [hspi] tags to Gitter channel"
New Stackoverflow posts with the tag [hspi] will be sent to the gitter channel. Rad.

See https://www.integromat.com for implementation settings.

[2017-02-28 16:15] MrMxyzptlk opened #30 "Request: ability to change default IP / port"
HS3 is on a different server than my dev server.
It would be nice to be able to specify or modify the default IP / port from localhost:10400 if desired.

Thanks!

"Remember that you can pet the sweaty things, but please don't sweat the petty things"

[2017-02-28 17:07] alexdresko commented on #7
By default, the console will always connect to 127.0.0.1 port 10400. There is no need to specify any command line arguments for that to work.

However, you _can_ specify a custom server and port in "Debug > Start Options > Command line arguments"...

![image](https://cloud.githubusercontent.com/assets/333022/23415786/5080a310-fdae-11e6-9107-e6d856661b34.png)

And, of course, you can do the same th

[2017-02-28 17:16] MrMxyzptlk commented on #7
Danke!

[2017-02-28 19:27] alexdresko commented on #6
All plugins should inherit ultimately from HSPIBase. I imagine we'll have additional base classes that inherit from HSPIBase that will make things even easier and cover different plugin scenarios. This new HSPIBase illustrates how we're able to re-shape the old HS IPlugInAPI interface into something that's easier to work with.

[2017-02-28 19:30] alexdresko commented on #30
Duplicate of #7

[2017-02-28 19:30] #30 closed

[2017-02-28 19:39] alexdresko opened #33 "MissingReferencesException - NuGet Package Manager for Visual Studio 2015"
From https://forums.homeseer.com/showpost.php?p=1295057&postcount=17

[2017-02-28 19:42] alexdresko commented on #33
Waiting to find out if user is on VS 2015 or VS 2017. I've seen this during development, but the current build seems to be working for me and @MrMxyzptlk

[2017-02-28 21:09] #24 closed

[2017-02-28 21:09] #25 closed

[2017-02-28 21:09] #27 closed

[2017-02-28 21:09] #8 closed

[2017-02-28 21:09] #29 closed

[2017-02-28 21:09] #7 closed

[2017-02-28 21:10] #6 closed

[2017-02-28 21:12] #3 closed

[2017-02-28 21:23] alexdresko commented on #3
Also includes a new HSPIPluginB template!

[2017-03-01 13:09] jon102034050 commented on #33
I am running VS 2015

[2017-03-01 13:17] jon102034050 commented on #33
Issue can be closed. Restarted my machine and I was able to install just fine, lol.

[2017-03-01 17:32] alexdresko commented on #33
@jon102034050 thanks for letting me know!

[2017-03-01 17:32] #33 closed

[2017-03-03 14:46] sirmeili opened #36 "Creating an HSPIPluginA has no reference to HSPIBase"
I downloaded the extension and created a new project based on the HSPIPluginA template, but when I do so, the HSPI.cs files has a ton of errors because it can't find the reference HSPIBase
![3-3-2017 9-45-40 am](https://cloud.githubusercontent.com/assets/6846886/23555258/3a875cbc-fff6-11e6-8985-6abb08b3cfe9.png)

[2017-03-03 14:52] alexdresko commented on #36
Thank you @sirmeili. I'll knock this out soon.

[2017-03-03 18:16] dpmurphy opened #37 "namespace HPSI (rather than HSPI_Template)"
One issue I've run into is this code below from original sample_cs template

Public static HSPI plugin = new HSPI();

This is used all over my plugin....but with the template namespace name changing it causes a conflict. VS2015 doesn't...Is this an oversight or something lacking in my c# understanding?

[2017-03-03 19:43] alexdresko commented on #37
Ah... Dunno why I didn't correct this problem sooner, but the HSPI project uses the namespace HSPI, which conflicts with the requisite class name for HS plugins, HSPI. I'll change the namespace to be `Hspi` soon. For now, you'll need to fully qualify the path to your NSPI object.

[2017-03-03 20:07] dpmurphy commented on #37
no worries...........

--------- Original Message --------- Subject: Re: [alexdresko/HSPI] namespace HPSI (rather than HSPI_Template) (#37)
From: "Alex Dresko" <notifications@github.com>
Date: 3/3/17 2:43 pm
To: "alexdresko/HSPI" <HSPI@noreply.github.com>
Cc: "Daniel Murphy" <donal.murphy@chezmurphy.net>, "Author" <author@noreply.github.com>

 Ah... Dunno why I didn't correct this problem sooner,

[2017-03-04 13:18] alexdresko commented on #36
@sirmeili This fix will go in place when I publish the latest build tonight. Best bet is to update the plugin and start with a new project.

[2017-03-04 13:48] #36 closed

[2017-03-04 17:49] dpmurphy opened #40 "trying to create a pull request?"
It fails - not sure if it's my side or whether I need permission to generate a pull request?

[2017-03-04 18:07] alexdresko commented on #40
Can you add a screenshot to the issue?

[2017-03-04 18:09] alexdresko commented on #37
Released an updated template and HSPI nuget to fix this.

[2017-03-04 18:42] dpmurphy commented on #40
![image](https://cloud.githubusercontent.com/assets/4731520/23581369/5d8b39aa-00e0-11e7-91a9-5f0978c38fe5.png)

[2017-03-04 18:42] #40 closed

[2017-03-04 19:23] alexdresko commented on #40
Looks like you need to clone the repo in github first. You're not a maintainer on this repo (yet) so you have to click the clone button in github first. Then clone your version of the repo on your computer. Create a branch for your changes. Push your changes to githib. Then create the pr back to my repo.

[2017-03-04 19:24] alexdresko commented on #40
I'll put together some better directions soon. On my phone right now. Working on documentation in general.

[2017-03-05 02:06] #37 closed

[2017-03-06 13:12] alexdresko opened #47 "Static code analysis on build"
I'm working on configuring a default set of analysis rules to run on every build. This requires fixing the existing codebase to support those rules, but there's not a lot of code yet, thankfully.

[2017-03-06 13:13] alexdresko opened #48 "Implement @dmurphy's util.cs class"
See https://github.com/alexdresko/HSPI/pull/43#issuecomment-284278498

CC: @dpmurphy

[2017-03-06 19:18] alexdresko opened #49 "Fix templates to output correct directory structure"
The original intention of this enhancement was to introduce ilmerge.exe into the build process. Upon inspection, I noticed that some of the existing HS plugins I use opt for an appSetting that allows dependencies to be moved to another directory. I also noticed there's a standard file name for plugins.

All of this is now part of the build and it works great.

Original issue:

Because the template

[2017-03-07 17:27] alexdresko opened #50 "Upgrade to Visual Studio 2017"
IT'S HERE! IT'S HERE!

[2017-03-08 18:30] sirmeili opened #52 "Hs is protected when it should be public (perhaps with a private setter?)"
I can't access the hs property outside of the plugin. I need this so I can break out my config pages into separate classes using the PageBuilder. Right now I can't access things like Hs.GetPageFooter()

[2017-03-08 18:35] alexdresko commented on #52
Would public actually help -- or do you need public static? I can't imagine what your code looks like. Can you share a bit here so I can get a feel for your architecture?

Also, just in case you didn't see what I just posted on the HS forums (@dmurphy too):

[2017-03-08 18:47] sirmeili commented on #52
Actually, I'm not sure. I'm not new to programming, but new to c#.net. I need to be able to access the HS from another class (one that inherits the PageBuilder class). Even then, I'm not sure public static will help because it needs to be set after the connection to HS is made.

[2017-03-08 18:58] sirmeili commented on #52
I see my mistake! I looked at the code at the B plugin was based off of and I see how it is done there :) I am going to close this. Sorry about the confusion.

[2017-03-08 18:58] #52 closed

[2017-03-08 19:06] alexdresko commented on #52
10-4. Glad it worked out for you. Let me know if you run into any other problems.

[2017-03-10 01:19] alexdresko commented on #18
Mads himself said this wasn't possible.

https://twitter.com/alexdresko/status/839616708100952069

Try again later.

[2017-03-11 15:06] #50 closed

[2017-03-11 15:06] #47 closed

[2017-03-21 12:41] alexdresko opened #57 "Add R# inspections to AppVeyor builds"

[2017-04-04 06:59] RantMaster opened #58 "Unable to install in VS2017 Community"
Hi There,

I am unable to install the extension in VS2017. I have tried it on 2 different computers and get the same error.

This is the error I'm getting:
`4/04/2017 6:57:12 PM - Microsoft VSIX Installer
4/04/2017 6:57:12 PM - -------------------------------------------
4/04/2017 6:57:12 PM - vsixinstaller.exe version:
4/04/2017 6:57:12 PM - 15.0.26228.9 built by: D15RTWSVC
4/04/2017 6:57:12 PM -

[2017-04-04 12:06] alexdresko commented on #58
Thank you for pointing this out. I'll try to look into it today.

[2017-04-20 02:58] berryk commented on #58
I am having this exact same issue.

[2017-04-20 14:44] alexdresko commented on #58
Sorry @berryk  and @RantMaster. My VS 2017 was acting up for a couple of days and then I got busy. I'll try to fix it today.

[2017-04-21 15:34] alexdresko commented on #58
@berryk  @RantMaster FIXED!

[2017-04-21 16:12] #58 closed

[2017-04-26 12:50] alexdresko opened #62 "fix-output.ps1 fails when spaces in path"
Wasn't something I had tested previously. Just had to massage the csproj files to include quotes around the path to `fix-output.ps1`

[2017-04-26 12:52] #62 closed

[2017-05-10 10:34] fuzzysb opened #63 "when running the Template i receive File Not Found Exception"
So i have tried TemplateB and TemplateA and both have an issue when pressing F5 to build, they both report the following error

System.IO.FileNotFoundException was unhandled
Message: An unhandled exception of type 'System.IO.FileNotFoundException' occurred in mscorlib.dll
Additional information: Could not load file or assembly 'Hspi, Version=1.3.101.0, Culture=neutral, PublicKeyToken=null' or one

[2017-05-10 10:43] fuzzysb commented on #63
ok if i look at the App.Config this shows

<probing privatePath="bin\$safeprojectname$"/>         </assemblyBinding>

 if i manually change this to

<probing privatePath="bin\<MyProjectName>"/>         </assemblyBinding>

then the issue goes away, any idea why this needs to be done manually?

[2017-05-10 11:27] alexdresko commented on #63
The best way I explain this is with pictures. Here's why I have it set up that way using the BLBackup plugin as an example. Most plugins appear to be configured this way.

This pic shows the BLBackup plugin exe and config located in `c:\program files (x86)\homeseer hs3\`.

![image](https://cloud.githubusercontent.com/assets/333022/25896187/1efff072-3551-11e7-9ac6-3f3834b62832.png)

If you look at

[2017-05-10 12:48] fuzzysb commented on #63
I am using the latest vsix file that i found in the gallery according to when i veiw the plugins its v 1.3.101

![image](https://cloud.githubusercontent.com/assets/16162689/25899006/1ca99190-3586-11e7-97a0-9ae2caa6a5fb.png)

I got that moving the files post build was to match the structure of other HomeSeer plugins i just couldn't see where the new patch was being specified until the penny dropped

[2017-05-10 15:13] alexdresko commented on #63
@fuzzysb Ahhhhhhhhhhhh! I get what you're saying now. I'll have a fix posted soon.

[2017-05-10 15:31] #63 closed

[2017-05-10 16:50] fuzzysb commented on #2
Agreed i have just started today and have struggled to get a start to be honest. if and when the penny drops and i get it, i will contribute to documentation as the project is in urgent need of further documentation.

[2017-05-10 18:16] alexdresko commented on #2
@fuzzysb Any help is much appreciated, thanks! It takes a bit to get used to RestructuredText format, but it's pretty nice.  I added a `gulp watch` action that will pull up a browser preview.

[2017-05-24 04:17] oesolberg commented on #2
I can always help with a bit of documenting. Just point me in the direction of how to do it.

[2017-05-24 04:23] oesolberg opened #65 "When Homeseer disconnects the plugin the plugin hangs"
I have only done this with Homeseer on another machine.
Start a plugin.
Go into Homeseer and disconnect the plugin.
The plugin will hang with the message "Connection to homeseer lost, exiting"

I guess this is because the Connector does not have any check if the connection is lost and does not shut the whole program down.

[2017-05-24 14:38] alexdresko commented on #65
Thanks for reporting, @oesolberg. I'll try take a look at this soon.

[2017-05-24 14:39] alexdresko commented on #2
I'll work on some documentation documentation soon. :)

[2017-05-28 12:55] alexdresko commented on #2
@fuzzysb @oesolberg I put together some instructions for contributing documentation to HSPI. It's on the dev branch right now at http://hspi.readthedocs.io/en/dev/docs.html. I don't know your experience with this kind of stuff, but if you're truly interested in helping, let me know if there's anything I can do to help you.

[2017-05-28 15:10] alexdresko opened #69 "How to contribute"
There's a lot of information in these two links that I'd like to refer to in the "How to contribute" section of the documentation.  There are also a lot of good ideas we can implement herein to improve the community experience.

Open Source Guides | Learn how to launch and grow your project.
https://opensource.guide/

GitHub Guides
https://guides.github.com/

[2017-05-30 10:03] oesolberg commented on #2
Cool. I have installed all the neccessary software. Now I need to learn how to produce something with it.

[2017-05-30 10:46] fuzzysb commented on #2
@alexdresko thanks for this, when i get some time over the coming weeks i will get onto this as i learn more with the ttemplate

[2017-06-01 22:23] #49 closed

[2017-06-01 22:35] alexdresko commented on #2
@fuzzysb @dpmurphy @zshall  and @oesolberg... Odd place to announce this, I know, but... https://hspiweb.wordpress.com/

[2017-06-03 19:06] alexdresko commented on #65
@oesolberg Can you explain how to reproduce this problem? Here's what I'm seeing:

1. Start HS
1. Start the plug in Visual Studio
1. Shutdown HS
1. The plugin shuts down almost immediately

Do you mean that this is happening when the plugin is installed as opposed to running it from VS? If you can help me reproduce the problem, I'll definitely fix it.

[2017-06-04 10:07] oesolberg commented on #65
Start HS
Start the plug in Visual Studio
Go into HS, manage plugins and disconnect the plugin(HS keeps running)

[2017-06-04 16:29] alexdresko opened #73 "Add additional directories to the templates"
## Summary

We're not doing all of this: http://homeseer.com/support/homeseer/HS3/SDK/default.htm

## Expected Behavior

When you create a new plugin using the templates, create the following directory structure.

http://homeseer.com/support/homeseer/HS3/SDK/default.htm

Put a readme in each directory so people know what to put in those directories.

## Current Behavior

Currently, the templates o

[2017-06-04 18:02] dpmurphy commented on #65
Isn't that the expected bahavior?

[2017-06-04 18:49] oesolberg commented on #65
Not that the plugin does not stop. Homeseer is expected to go on, but the disconnected plugin shoul quit/exit or try to reconnect. As it is today it reports that it lost connection and then stays on. I would expect the plugin to exit.

[2017-06-04 19:16] dpmurphy commented on #65
You are correct the plugin should stop, I misread your post.

[2017-06-05 08:43] oesolberg commented on #65
No worries. I should have been more specific.

[2017-06-10 20:50] alexdresko commented on #65
@oesolberg I finally have a fix for this in the dev branch. If you're in a hurry for the fix, I can publish immediately. Otherwise, it'll get included in the next round of updates... probably within the next week or two.

[2017-06-12 04:54] oesolberg commented on #65
Great work. Thanks

[2017-06-12 14:35] alexdresko opened #75 "Automate the changelog"
## Summary

In a recent post on the blog, I mentioned an unanswered question about how to handle the change log. I just stumbled across some possible solutions while doing something for work.

## Expected Behavior

The change log and git release notes should be automatically generated based on the Github issues.

## Current Behavior

We have no standard. No plan. No decision has been made.

## Pos

[2017-06-13 02:20] BillSobel opened #76 "Not compatible with Visual Studio MAC"
## Summary

## Expected Behavior

Loads from NuGet but no (apparent) way to use the template in a project on VSMac.

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
1.
1.
1.

## Screenshots (if appropriate)

## Context

## Your Environment

* HomeSeer version:
* HomeSeer operating system:
* HSPI version:
* Template version:
* Developer environment:

## Checklist
- [

[2017-06-13 13:02] alexdresko commented on #76
Thanks for reporting, @BillSobel. I haven't tested this on VS Mac, so I need more information in order to figure out the next course of action. My immediate assumption is that it's just not going to work, but I don't know enough about VS Mac to know for sure.

First, it seems like you simply added the nuget package to your project. That option doesn't install any of the templates. To get the templ

[2017-06-13 14:24] BillSobel commented on #76
I have not found a place on the Mac to install the templates prior to
adding the package to the project.  I will try your instructions this week
(traveling today) and see if that works, will report the results.
Thank you!
Bill

On Tue, Jun 13, 2017 at 6:02 AM, Alex Dresko <notifications@github.com>
wrote:

[2017-06-15 22:06] BillSobel commented on #76
An update.  While I do not have a HomeSeer local here to properly test, I
did create a example project per your suggestions and it does build and
attempt to run (and connect to HS).  So the main issue seems to be the lack
of ability to use the template system to generate the classes, but the base
code is being brought in and appears to work!

Is there a simple way I missed to override the server t

[2017-06-15 22:13] alexdresko commented on #76
Thanks for the update, Bill. I'll see if we can add the template support to VS Mac.

In the meantime, this is what you are looking for. http://hspi.readthedocs.io/en/latest/using-faq.html#using-a-different-ip-address-and-or-port

[2017-06-15 22:14] BillSobel commented on #76
Thanks!  Off to explore. really appreciate your help and efforts on this.
Cheers
Bill

On Thu, Jun 15, 2017 at 3:13 PM, Alex Dresko <notifications@github.com>
wrote:

[2017-06-19 17:31] alexcanessa commented on #75
I was reading out your issue and I think ⚡️🤖 [gren](https://github.com/github-tools/github-release-notes) might suit you.

Generates release notes for the tags and generates Github releases. All is based on issues which you can also link to milestones.

If you want I could help to set it up.

[2017-08-07 06:37] sirmeili opened #77 "get_conditoin always returns false"
## Summary

get_Condition always returns false. This means that you can never tell when  trigger is being used as a condition.

## Expected Behavior

I would expect HSPI to not override get_Condition as this should be set by Homeser and not by the plugin (it's a property: See here: https://homeseer.com/support/homeseer/HS3/SDK/condition.htm

get_Conditon() should return true or false depending on

[2017-08-07 17:16] alexdresko commented on #77
@sirmeili, HS will call `set_condition` when a trigger is being used as a condition, not `get_condition`. If you want `get_condition` to return the value provided by HS, you'll need to override both `set_condition` and `get_condition` in your plugin to set and get a field level value.

Think of the `get_*` and `set_*` methods as C# property getters and setters. Except, because HS is written in VB.

[2017-08-07 17:36] alexdresko commented on #77
Upon closer inspection, most of the original VB.NET examples from HS don't do anything with the Condition property. Only the `HSPI_SAMPLE` does anything with the Condition property, and it looks almost exactly like the code from that last link I pasted.

Look at HSPI.vb here.. ![image](https://user-images.githubusercontent.com/333022/29038301-3f53c5f0-7b75-11e7-881a-c62214ca217b.png) (from https:/

[2017-08-07 20:10] sirmeili commented on #77
I guess that was my assumption (that it was abstracted from the developers).

I think I get what you're saying. So much of stuff I'm doing I have to ask myself "Why wasn't this done in the base plugin by Homeseer? Why do **I** have to do it?!"

I will look into it further. I didn't see the set_Condition and noticed that in their docs it says "Homeseer sets..." which made me thing it was taken care

[2017-08-10 02:52] sirmeili commented on #77
I am going to close this. You were right. I got it working by overriding the method and keeping track of which trigger was in condition mode or not.

I kind of understand why they did it this way (to give more freedom maybe?), but it sure is a hassle.

[2017-08-10 02:52] #77 closed

[2017-08-16 19:20] alexdresko commented on #77
@sirmeili Just FYI, I'm working on adding a new base class that finally achieves the main programming goals for this project. As it stands, I think it's going to be massively easier to create HS plugins. You'll get the full power of an old skool HS plugin, but it will require much less code. And the code that it does require will be much easier to understand. Ultimate plan is to strip away everyth

[2017-08-16 19:47] sirmeili commented on #77
I am doing similar with one of my plugins. I'm creating a DLL that all my plugins will share that take the bulk of PITA stuff that HS requires and generalizes it so I only need to add what I need to add for a plugin to work. If you want we can discuss it, but since I"m just now getting into c# programming, I'm not sure my ideas are sound.  I have 15 years of Application development, but it is main

[2017-08-16 20:12] alexdresko commented on #77
Ain't nothing easy about the HS's plugin API. I'm basically taking my best guess, and I'll fix where it doesn't work.

You can get a sense as to where I'm going with this by looking at:

* https://github.com/alexdresko/HSPI/tree/HspiBase3_stab/HSPI/HspiPlugin3 (most of HspiBase3)
* https://github.com/alexdresko/HSPI/tree/HspiBase3_stab/Templates/HSPIPluginC.Dev (initial implementation of HspiBase3

[2017-08-16 22:26] sirmeili commented on #77
I was looking it over quickly and I have 1 small suggestion. Don't depend on the action or trigger UID property (from strTrigActInfo). When you copy an event, all the UIDs are copied for each trigger and action. I started taking a blend of the evRef and UID to build a unique value (all UIDs in any given event are unique).

But so far I like what you've done :)

[2017-08-17 22:21] alexdresko commented on #77
Keen eye there. I definitely do not know what to do in `ActionFromTriggerActionInfo` and `TriggerFromTriggerActionInfo`.  That's one of those things I was just going to experiment with until it made sense. Your comment is super helpful though.

I'm so n00b, I don't even understand how/when/why triggers/actions are created. The VB sample provided by HS is certifiably useless and I can't find any do

[2017-08-18 00:20] alexdresko commented on #77
Just pushed another round of changes to that branch. Most of today's code surrounds event registration and consumption. It's not done, but I think it's going to be pretty nice compared to what developers have to do otherwise.

[2017-08-18 00:56] sirmeili commented on #77
So yeah, I'll have to share with you how I'm doing it. I've basically set up a base trigger object and each "Trigger" ends up being it's own object with it's own set of methods for handling display. In the main plugin file you then just have to to use the TANumber to pull the right trigger from the List. The list is populated in InitIO. Also, each trigger itself defines it's sub triggers so that y

[2017-08-18 01:07] alexdresko commented on #77
Good stuff, man. Thanks for the tips! I'm writing code by the seat of my pants right now and I won't really know if it works until I create an instance of this thing and fire it up in the debugger. With your help, I'll at least know what to prepare for.

If you're not using a source control system, consider github or https://www.visualstudio.com/team-services/. The latter allows you to create priv

[2017-08-18 01:12] sirmeili commented on #77
I use visualstudio.com for my git (I work off a couple different laptops at my house). I'm also flying by the seat of my pants, but I'm doing most of this while writing a plugin so I instantly see what does and doesn't work :) I've flip flopped on a bunch of stuff, but I think I've settled on something that at least seems to work for me so far. I'll get some sample code together. I'm on a deployme

[2017-08-18 07:16] sthorshaug commented on #76
According to [this from stackoverflow](https://stackoverflow.com/questions/44825177/installing-extensions-on-visual-studio-2017-mac) it's not possible to use the traditional marketplace for extensions.

I think the only approach at the moment is to create an extension as stated [here](http://www.monodevelop.com/developers/articles/creating-a-simple-project-template/). I'll think about trying to do

[2017-08-19 19:12] alexdresko commented on #76
@sthorshaug I, as well as others I'm sure, would super appreciate it if you could figure out how to enhance this project so the templates work on VS Mac. I really don't know what would be required, and I don't have a Mac.

[2017-09-18 12:23] alexdresko opened #79 "Add SECURITY.MD to repo"
## Summary

Discovered the idea via: https://www.bleepingcomputer.com/news/security/security-txt-standard-proposed-similar-to-robots-txt/
Sample: https://github.com/electron/electron/blob/master/SECURITY.md

Not sure what the HSPI SECURITY.MD will look like. Maybe try to find others to use as an example.

[2017-09-21 06:17] oesolberg opened #81 "Show plugin name in the console for the plugin"
## Summary

When running a plugin the console window always shows "Test Plugin"

## Expected Behavior

I would expect some way to override "Test Plugin" and have the name of my plugin instead.

## Current Behavior

Only showing "Test Plugin" in the console window

## Possible Solution

Maybe send in the plugin name as an parameter to the connector?

## Steps to Reproduce (for bugs)
Run any plugin

[2017-09-30 19:10] alexdresko opened #82 "Problem calling powershell after build"
## Summary

For the gitter chat:

skavan @skavan Sep 07 19:08
now, my impassable error is: Severity Code Description Project File Line Suppression State
Error The command "powershell -file "G:\OneDrive\Development\dragonfly management\HSPIPluginA1_test1\HSPIPluginA1_test1\fix-output.ps1" -configuration Debug -executionpolicy Unrestricted -NonInteractive" exited with code 1. HSPIPluginA1_test1 G:\O

[2017-10-01 18:57] oesolberg commented on #82
I will not be able to test this until the 10th of October.
I have the latest version of Powershell (I think), but I guess the version 1.0 folder is due to  backwards compatibility.

[2017-10-01 22:24] alexdresko commented on #82
So strange. `%WINDIR%\SysNative\WindowsPowerShell\v1.0` isn't even a directory on my computer, so `%WINDIR%\SysNative\WindowsPowerShell\v1.0\powershell.exe` isn't even a file... But it certainly works in Visual Studio in the csproj files. This is an incredible find you made. Mega thanks. I'm working to push a the fix to the VS templates now.

[2017-10-01 23:03] alexdresko commented on #82
Pushed to the marketplace as v1.3.135

[2017-10-01 23:03] #82 closed

[2017-10-08 19:40] oesolberg commented on #73
Your link does not seem to go to any info about directories. Could you update it or give us something that we could use as search keys?

[2017-10-09 14:02] alexdresko commented on #73
Good find. Yes, you are correct. I have updated the original issue text to contain the correct link.

[2017-11-14 19:27] zimmer62 commented on #65
I found that doing an Environment.Exit(0) was no ideal for me.  I ended up needing to do both
CallbackClient.Dispose();
HsClient.Dispose();

Now this posed a little problem for me as the CallbackClient and the HsClient are not publicly accessible from where I was running the connector.

[2017-11-20 23:51] alexdresko commented on #65
Reopening to implement the suggestion from @zimmer62

[2018-08-24 14:22] fredplunkett opened #85 "Unable to download template"
## Summary

Trying to download the template either through VS2015 or direct from

https://marketplace.visualstudio.com/items?itemName=thealexdresko.HomeSeerTemplates-18379

gives the error message:
This XML file does not appear to have any style information associated with it. The document tree is shown below.
<Error>
<Code>BlobNotFound</Code>
<Message>
The specified blob does not exist. RequestId

[2018-08-24 14:34] alexdresko commented on #85
I'm afraid I cannot support VS 2015.  Knowing what I know about this project, I don't think you'd get very far if the templates even worked, as it relies on language features and .NET versions that aren't available in that version of VS.

That said, I'll be happy to keep the issue open for a bit to answer any questions you might have.

[2018-08-24 14:42] fredplunkett commented on #85
So is it Visual Studio 2017 only?

  On August 24, 2018 at 10:34 AM Alex Dresko <notifications@github.com> wrote:

 I'm afraid I cannot support VS 2015. Knowing what I know about this project, I don't think you'd get very far if the templates even worked, as it relies on language features and .NET versions that aren't available in that version of VS.
 That said, I'll be happy to keep the issue ope

[2018-08-24 14:55] alexdresko commented on #85
I have not tested with VS 2015, but I also did not hamper my efforts by making sure that the project would be backward compatible with VS 2015. Everything I did was with the intention of supporting only the latest and greatest version of VS 2017.

[2018-08-24 15:34] fredplunkett commented on #85
Understood.  No problem with that choice.  But might I suggest you change the hspi.readdocs.io pages to note that VS2015 is not supported?  Thanks for all the effort you've put into this!On August 24, 2018 at 10:55 AM Alex Dresko <notifications@github.com> wrote:  I have not tested with VS 2015, but I also did not hamper my efforts by making sure that the project would be backward compatible with

[2018-08-24 15:43] fredplunkett commented on #85
Getting the same error with a fresh install of Visual Studio 2017.

[2018-08-24 16:32] alexdresko commented on #85
Well now, that certainly changes things. I'll try to look into it soon, but can't make any promises. If you're in a hurry, you might try cloning this repository and trying to get the solution to compile. If it does compile, the "*.DEV" projects are essentially the same as what the template produce.

If it does not compile, it might be that you're missing certain optional VS features. And it could

[2018-08-24 16:33] alexdresko commented on #85
And if you go this route, please make sure to document the changes you make to your VS installation for reference.

[2018-08-24 16:43] fredplunkett commented on #85
It also gives that error message if you just try to download it manually from the link on the docs webpage, NOT from within VS, so it might not be related to Visual Studio.  Being a total noob to Visual Studio, I'll have to wait [patiently] for you to get a chance to look at it.  Thanks!

[2018-08-24 20:07] alexdresko commented on #85
Oh, wow. I get it now. Sorry. So totally sorry. Feeling dense, but I understand the problem. In fact, I've already got a fix in the pipeline. Just waiting for it to be reviewed and merged. Then I'll update the extension on the marketplace.

Sure wish I knew how long this had been going on.. :)

[2018-09-01 14:01] alekslyse opened #87 "Project still alive?"
Im a developer, but honestly its so hard to understand HS plugin logic its making me insane. Got so many good projects in the pipeline it should be extremely easy to setup a dev environment and "just get it working"

I cant see any progress on this project for about a year, and just wondering if this project was given up on?

If not, as a developer im not good at writing documentation, but please

[2018-09-01 15:57] alekslyse opened #88 "Upgrading from HSPI.1.0.20 -> higher"
## Summary

Updater present update for v. 1.0.35 and 1.0.42 - both of those wants to update several core components.

When they install the template will not work anymore with failure on args on Program, and excpect namespace to be in uppercase

## Expected Behavior

Regular update

## Current Behavior

Breaking change - cant run or debug

## Possible Solution

Rewrite? Wrong templates?

## Steps

[2018-09-01 19:04] alexdresko commented on #85
The download is fixed, by the way.

[2018-09-01 19:04] #85 closed

[2018-09-02 12:07] alexdresko commented on #87
In PluginC, `InitIO` definitely runs in a task atuomatically. I'm planning on simplifying web pages, but that might have to come in PluginD. :)

[2018-09-02 12:10] alexdresko opened #89 "Bring in changes from forks"
## Summary

Looks like @zimmer62 forked and didn't PR back to this repo. It would help if someone could determine if the changes need to be brought back into this repo. And, if so, create the PR.

https://github.com/zimmer62/HSPI/commit/356e0ebca5321689d9288b26de5c0e5a15529a87

[2018-09-02 13:41] alekslyse commented on #89
From what I can see you already pulled Connector.cs (btw, thats also related to to issues with the "Test Plugin" cmd writeline so maybe remove that line

The other one since its just to small changes so should not be a large change?

[2018-09-02 13:46] fredplunkett commented on #85
Got it.  Thanks!On September 1, 2018 at 3:04 PM Alex Dresko <notifications@github.com> wrote:  The download is fixed, by the way.—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-09-03 00:32] alekslyse commented on #88
With latest release this problem seems solved

[2018-09-03 00:33] alekslyse opened #90 "Template 3"
Do you have any ETA on template 3, or might starting to release it into beta state officially in the package?

Seem like you have implemented some nice things like device creation etc, that has to be done manually today and would speed up development a lot

[2018-09-03 00:59] alexdresko commented on #90
I'm afraid that's not going to be done in the near future. You've inspired me to dive back into it sooner than later, though. We'll see what happens. I'll keep this issue open for tracking template 3.

[2018-09-03 01:00] alexdresko commented on #88
Cool. Was coming here to see if it worked.

[2018-09-03 01:00] #88 closed

[2018-09-03 01:04] alekslyse commented on #90
Hopefully you will find the motivation. I hear homeseer 4 is coming soon
with unchanged API so it might be the right time.

Regardless you made the development cycle better and made it's more
possible for c# as I can't stand VB.

Maybe I will make an utility class and send a pull request that people can
use meanwhile if you would like that?

On Mon, 3 Sep 2018, 02:59 Alex Dresko, <notifications@gi

[2018-09-03 06:09] oesolberg commented on #87
Sorry for not contributing back more. After using HSPI for two plugins (Twilio and RfLink) I have made some small changes in the package creation. I will try to fork latest version and create a PR to include this. This is only minor changes in the powershell script stuff grabbing graphics etc needed for HTML pages.

[2018-09-03 14:16] alexdresko commented on #87
@oesolberg Awesome, brother. Would love to have those changes. You can attach them here if you don't want to go through the fork/PR process.

[2018-09-03 22:14] #81 closed

[2018-09-03 22:28] alexdresko commented on #90
Interesting. Where's your info on HS4? I kinda thought the HS devs have just been on vacation for the past couple of years.

Happy to accept any utility classes you might have.

[2018-09-03 22:52] alexdresko commented on #89
@alekslyse I spent some time really looking at his code, and I think I've extracted the goal of his changes. Don't really know why he wanted those properties public, but I'm fine with it. See https://github.com/alexdresko/HSPI/pull/94 if you'd like to provide feedback. @zshall will also review the PR before it gets merged.

[2018-09-03 22:54] alekslyse commented on #90
Its been all over their forum. I got some official replies on the forum HS4 will keep the current API, and just be cosmetic changes (even official im not sure if its that official), but we can assume it wont be that much changes as HS2->HS3.

As you can see they are pushing a new phone app and upgraded their forum so I think something is happening.

Im not that steady in C# to be honest - the deve

[2018-09-03 22:59] alexdresko commented on #90
I've got another project I'm working on that aims to make c# scripting easier. There are two parts:

* A new tool called HsMetal that spits out a type-safe representation of every HS device and event in the system.
* Support for HS scripting via VSCode. The combination should make it really simple for developers to write HS scripts against their existing devices using VSCode.

Pretty excited about

[2018-09-03 23:02] #4 closed

[2018-09-03 23:03] alexdresko commented on #18
Still not possible, BTW. Recent conversation with the VS team yielded no response, and Mads was included in the conversation.

I trust that Mads will make it happy eventually.

[2018-09-03 23:09] alekslyse commented on #90
The main thing missing for HSPI is documentation - I know its boring, but should be done. I think its good to know what your plugins really can do without having to check the code. For example are you just passing functions through the classes to make the naming convention easier, or do you have functional classes?

I did take a look on your template 3 branch, and I think you are focusing more on

[2018-09-03 23:31] alekslyse commented on #90
To make things easier, and you have the knowledge, could you add an Utility.cs class that has access to hs and can be fully accessed from HSPI - Im not sure about the best practise. If you could just make a class with one function like GetDeviceEnumerator() I will fill it up with useful functions and send a pull request as I will add all functions I will be using to this class.

[2018-09-03 23:45] alekslyse commented on #90
For example if I make a method in HSPI with the following code

` Scheduler.Classes.clsDeviceEnumeration en = (Scheduler.Classes.clsDeviceEnumeration)HS.GetDeviceEnumerator();

            Scheduler.Classes.DeviceClass dv;

            while (!en.Finished)
            {
                dv = en.GetNext();
                Console.WriteLine(dv.get_Name(HS));
            }`

Its working well, but not

[2018-09-04 07:08] oesolberg commented on #87
This is in fix-output.ps. This is just the process of fetching files. I have not made any automatic directory creation (but that should be easy)
Here is the whole file as a gist
<script src="https://gist.github.com/oesolberg/796718cfd4348698d6b1e4f2e179b4d5.js"></script>

[2018-09-04 07:16] oesolberg commented on #90
Maybe something like this (I do it like this to get all my plugins devices):

private List<DeviceClass> GetHomeseerDevices()
		{
			var deviceList = new List<Scheduler.Classes.DeviceClass>();
			var deviceEnumerator = (clsDeviceEnumeration)_hs.GetDeviceEnumerator();
			while (!deviceEnumerator.Finished)
			{
				var foundDevice = deviceEnumerator.GetNext();
				deviceList.Add(foundDevice);
			}

[2018-09-05 12:39] zimmer62 commented on #89
I don't have any memory of what or why I made any changes. I thought we talked about it, but it was a lifetime ago for me.

[2018-09-05 12:43] zimmer62 commented on #90
This is exciting!  I'm glad to see some wind again in the sails.  I'm working on a Ryobi Garage Door opener plugin now, so I just jumped back in.

[2018-09-05 13:04] alexdresko commented on #89
No worries. I think I figured it out. Just duking it out with @zshall over some variable naming. :)

[2018-09-11 23:30] simplextech commented on #90
I've forked this and started to follow.  I'm excited to see movement towards some good documentation around using C# with HS and gives me some hope to port plugins to C#.

[2018-09-11 23:42] alekslyse commented on #90
If we should build a proper API we need to agree on a standard we can
share. I'm working on my builder classes and others got their own. We all
using dirrerent approaches, helper, builder, constructor classes etc. I
don't mind create an element in chain, but then we seller for that.

Getting in basic classes for log, device, session, graphics/ files etc
should be very simple if we decide.

If some

[2018-10-24 09:34] beerygaz opened #95 "Dependency Issue Creating Plugin A"
## Summary

Visual Studio 2017 throws an error when trying to create PluginA

Homeseer 1.0.0 can only target .NET 4.5
Many of the packages required by HSPI require .NET 4.6

## Screenshots (if appropriate)
![image](https://user-images.githubusercontent.com/10650958/47421366-b78c2180-d780-11e8-857f-542e1584dc98.png)

[2018-10-24 12:48] alexdresko commented on #95
Thanks for letting us know, @beerygaz. I'll try to get this taken care of soon.

[2018-10-24 13:42] beerygaz commented on #95
Is there a workaround in the short term?  Can I just check out the HSPI repo and stick it in my project directory?

[2018-10-24 14:06] alexdresko commented on #95
If VS still creates the project, you can re-target the project to your desired .NET version and install the HSPI nuget package after the fact.

You _could_ pull the repo and try that. Use the `PluginA.Dev` project if that's the course you go.

Lemme know how it works out.

[2018-10-25 06:28] beerygaz commented on #95
The first option won't work.  If I try to install the nuget package it fails dependency checks (HSPI has a dependency on the homeseer package, and that won't install).

The second option is proving harder than expected in getting all the files in the right place and then adding them to the project.

[2018-10-26 14:43] oesolberg commented on #63
This does not seem to work. I have been testing under linux and it seems that we need to change how privatePath is written. Linux does not handle \ well. But Windows seems to be okay with /
So we need to go from
probing privatePath="bin\$safeprojectname$"/>
to
probing privatePath="bin/$safeprojectname$"/>

[2018-10-26 15:47] oesolberg opened #96 "Linux will not accept search path"
## Summary
Probing private path in linux does not handle backslash

## Expected Behavior
When I use a plugin in Linux I expect it to use the probing path bin/<project name>

## Current Behavior

Due to the probing path beeing written for Windows (with a backslash) Linux will not use it

## Possible Solution

After testing I found that windows can accept backslash and slash, but Linux expects slash

[2018-10-27 17:54] alexdresko commented on #96
Fix incoming via https://github.com/alexdresko/HSPI/commit/d5fc9c7e2cb219784d7cad2009987773702d0c4a. It might take me a little bit to get a new version published because I want to get [this](https://docs.microsoft.com/en-us/visualstudio/extensibility/walkthrough-publishing-a-visual-studio-extension-via-command-line?view=vs-2017) working. I've been pestering Microsoft to create a CLI for publishing

[2018-10-27 17:56] alexdresko commented on #63
Thanks for doing the linux testing, @oesolberg. We'll finish tracking this in https://github.com/alexdresko/HSPI/issues/96.

[2018-10-28 18:43] alexdresko commented on #96
Welp, I automated the deployment, but I lost the marketplace ID I was using. :( Trying to get MS to fix it, but I might have to move everything to the new ID.

[2018-11-06 09:59] alexbk66 opened #99 "Error creating a project using HSPI template"
I followed "Project templates for Visual Studio 2015 and Visual Studio 2017", but when I create a project using the template - I get:
[code]

[2018-11-07 00:59] alexdresko commented on #96
So I haven't heard from MS about my marketplace ID snafu. I have removed the old extension from the marketplace. You'll need to uninstall that version and reinstall this version: https://marketplace.visualstudio.com/items?itemName=thealexdresko.HomeSeerTemplates2

[2018-11-07 00:59] alexdresko commented on #96
(Give it about an hour and an even newer release will be up)

[2018-11-07 01:08] alexdresko commented on #95
Long story short, try uninstalling the extension and reinstall it. I apologize for the inconvenience, but you shouldn't have to do that again. I goofed a couple weeks ago and messed some things up.  Let me know if the new version of the extension works.

https://marketplace.visualstudio.com/items?itemName=thealexdresko.HomeSeerTemplates2

[2018-11-07 01:08] alexdresko commented on #99
Long story short, try uninstalling the extension and reinstall it. I apologize for the inconvenience, but you shouldn't have to do that again. I goofed a couple weeks ago and messed some things up. Let me know if the new version of the extension works.

https://marketplace.visualstudio.com/items?itemName=thealexdresko.HomeSeerTemplates2

[2018-11-07 09:00] alexbk66 commented on #99
Thank you, it worked.
Now I'm not really sure where to go from here.
I googled ALOT, there's written lots of documentation, but it's mostly about "policies" and "contribution".
But I couldn't find a single sentence about using it.
Am I wrong?

[2018-11-07 10:13] alexbk66 opened #101 "No name shown in "Remote Plug-Ins""
When I execute the plugin remotely - the Remote Plug-Ins section in HS shows the plugin connected, but no plugin name or version is shown:
![image](https://user-images.githubusercontent.com/2533315/48124921-a2aba400-e2d1-11e8-865b-7786544888ff.png)

[2018-11-07 12:58] oesolberg commented on #99
We have just small pieces so far. I guess https://hspi.readthedocs.io/en/latest/adding-an-action.html is as far as I got. I really should try to recreate moskus sample project with HSPI since he has made a vb-project doing almost everyting you can do. https://forums.homeseer.com/forum/developer-support/programming-plug-in-development/plug-in-development/90775-hspi_moskussample-an-easier-plugin-sam

[2018-11-07 13:05] oesolberg commented on #101
This is not due to HSPI, but the way HomeSeer works. To actually get your plugin to show you need to register a webpage (if I am not completely mistaken).

Here is how I did it with my last plugin (from InitIO(string port))

			var wpd = new WebPageDesc
			{
				link = "AwsomePlugin_Main_ConfigPage",
				plugInName = "AwsomePlugin"
			};
			_callback.RegisterConfigLink(wpd);

Clicking on your plug

[2018-11-07 13:28] alexbk66 commented on #101
Seems to work if Config page is registered for this plugin:
![image](https://user-images.githubusercontent.com/2533315/48134174-448cba00-e2ed-11e8-85d5-ca94bad91806.png)

[2018-11-07 13:28] #101 closed

[2018-11-07 23:39] #99 closed

[2018-11-08 13:19] alexdresko commented on #99
Just to follow up on what @oesolberg said, templates A and B are largely just an extraction of code that was found on the forums. You can find more information about the templates [here](https://hspi.readthedocs.io/en/latest/features.html#the-templates).  But, for the most part, making use of the templates involves scouring the HS forums and reading the HS documentation. In so far, HSPI doesn't re

[2018-11-08 13:26] alexdresko opened #103 "Add the Moskus sample"
## Summary

@oesolberg helped me to realize that we could add the Moskus sample to HSPI. It's a good idea. Even better if we also make a C# version. See https://github.com/alexdresko/HSPI/issues/99#issuecomment-436614523

## Expected Behavior

Developers should be able to create a "Moskus" project from `File > New Project`. It should use the HSPI and HomeSeer nuget packages where appropriate, as w

[2018-11-08 13:28] alexdresko commented on #101
Thanks, @oesolberg. I didn't know this.

@alexbk66, what template did you start with? Was your original screenshot the default behavior of the template, or did you modify the code such that it exhibited that behavior? If it was the default, we likely need to fix the template, as that doesn't seem good.

[2018-11-08 13:37] dpmurphy commented on #103
Moskus has a c# version on forum

[2018-11-08 13:38] oesolberg commented on #99
Is it not a better solution to have the Moskus plugin sample "translated" to C# and left as an example repository outside of HSPI? I think we should not include the plugin sample as something in the HSPI repository.

[2018-11-08 13:40] dpmurphy commented on #99
Moskus has a c# sample on forums

[2018-11-08 13:41] oesolberg commented on #103
@dpmurphy Link?

[2018-11-08 14:01] alexbk66 commented on #99
Are you sure? Where? I found C# by Kirby, but not Moskus

[2018-11-08 14:01] dpmurphy commented on #103
https://forums.homeseer.com/forum/homeseer-products-services/system-software-controllers/hs3-hs3pro-software/hs3-plug-in-development/81393-hspi_sample-sung-in-c

[2018-11-08 14:11] oesolberg commented on #96
Sorry. I have not gotten around to test the latest version. Will try it soon(ish).

What "worries" me is that we are now going for .Net 4.7 and I don't think my test-machine (Win 2008 server) will support this version of .Net. Ah, but new is better etc - yes, I see that, but should we not keep up with the current .Net version of HomeSeer? Or am I just creating a lot of noise for nothing because I

[2018-11-08 14:26] oesolberg commented on #103
That is not the Moskus sample is it? It is just the Hspi_sample converted to C#. The Moskus sample plugin is a vb.net project that covers devices, triggers and possibly actions. This has some of the stuff, but not all.

I will look into creating the Moskus sample (if I get his permission). And I might try to create more documentation. The problem now is that I don't remember how to create document

[2018-11-08 17:48] alexdresko commented on #103
I think https://forums.homeseer.com/forum/developer-support/programming-plug-in-development/plug-in-development/90775-hspi_moskussample-an-easier-plugin-sample-vb-net?t=177339&highlight=plugin might be the vb.net sample.

[2018-11-08 20:12] alexdresko commented on #96
Do you have 2008 R2 SP1? From what I can tell, 4.7.2 will run on that.

[2018-11-08 20:13] alexdresko commented on #96
https://docs.microsoft.com/en-us/dotnet/framework/get-started/system-requirements

[2018-11-09 02:53] alexbk66 commented on #101
Hi @alexdresko, I used template B and yes, it doesn't implement registring the config page for the plugin, so I had to copy the code from HSPI_HikAlarmCheck.

BTW, I coudn't find anywhere how to also pass the plugin version to HS, instead of showing N/A.
Anybody have any idea?

[2018-11-09 02:59] alexbk66 commented on #103
I think a better example is [HSPI_HikAlarmCheck](https://github.com/sgieseking/HSPI_HikAlarmCheck) because it's C# and it's very similar to HSPI.
BTW HSPI_HikAlarmCheck has **comments** for each function - which HSPI is lacking.

[2018-11-09 06:10] oesolberg commented on #103
If we are including a project it should be in C#. But I personally feel that the Moskus plugin shows so much stuff that it is a better fit than HikAlarmCheck. We only need to get it translated into HSPI ;-)

[2018-11-09 06:52] oesolberg commented on #96
Thanks. I will look into it.
I hope Mono also supports it for running plugins in linux. I will test that as well.

[2018-11-09 09:25] alexbk66 commented on #103
I think HomeSeer should take a lead and create VS templates for delelopers, they will be able to use them internally too
But I suspect it's not gonna happen

[2018-11-09 09:44] oesolberg commented on #103
They have had so many years to do that but since people can create plugins that shows that they don't have to.

[2018-11-09 13:47] alexdresko commented on #103
HSPI aims to pick up where the HS dev team left off. One of the first things I did was to create the [HomeSeer nuget package](https://www.nuget.org/packages/Homeseer/) because the samples provided by HS didn't include the requisite assemblies. Further, the samples provided by HS were in VB.NET and were not complete. AND I pretty much hate the architecture they force you to use. So I created HSPI f

[2018-11-09 13:51] alexdresko commented on #96
My main reason for porting everything to .NET 4.7.2 is because that version is most compatible with .NET Standard 2.0. Ultimately, I want to convert the HSPI library (not the templates) to .NET Standard and create a set of .NET Standard templates. The whole point of .NET Standard is cross-platform support, so any plugin written in .NET Standard will work on linux. The only thing I'm not sure about

[2018-11-09 14:15] oesolberg commented on #103
I voiced my opinion that project samples should not be templates since they are just samples. But if it is some easy way to use them as templates and not examples then it is another story.

I have now contacted Moskus and we will port his plugin to C#. The first project will target .net 4.0. This is done due to rumors that mono (linux) does not behave nice when we are at higher versions. Not sure

[2018-11-10 12:10] alexbk66 commented on #103
I actually don't agree it's a good idea - because it changes every version, so it's better to copy three HS dlls from the actual HS installation.

[2018-11-12 18:12] alexdresko commented on #103
Thanks for the feedback, @alexbk66. I feel like I'm missing some context, though.

Can you explain what you mean by this statement?

Theoretically, the HomeSeer nuget package will be updated anytime there's a new version of those assemblies from HS. Thus, updating to the latest version of the HS assemblies is as simple as updating the nuget package. It seems easier to me than copying the assemblie

[2018-11-12 18:15] alexdresko commented on #103
@oesolberg Just to make sure you and I are on the same page as well (we're juggling a lot of mini conversations in this issue), what do you consider to be the difference between a sample and a template? To me, they're kind of the same thing. A "sample" might just have more code that most people would delete immediately after creating the project.

[2018-11-12 18:19] alexdresko commented on #101
@alexbk66 Please create an issue for the version information. The templates should do that automatically.

Also, should we re-open this issue add [this code](https://github.com/alexdresko/HSPI/issues/101#issuecomment-436616255) from @oesolberg in plugin B?

[2018-11-12 20:09] oesolberg commented on #103
Normally I think of a template as a starting point where you still are missing code to actually get it up and running. But thinking about it I guess I am wrong since a lot of the VS templates are actual small applications (Webapps and services, console app, MVC etc).

I am currently busy converting the Moskus plugin from vb.net to C#. Now it is just a raw conversion. The repo can be found at https

[2018-11-13 01:23] alexbk66 commented on #103
Hi @alexdresko

I don't think it's really a big deal, but for me it's better to use the local HS DLLs to make sure they are in sync with the HS installation.  And instead of copying the DLLs - the easier option is to set VS reference assembly path to HS folder.
But again, it's pretty minor issue.

[2018-11-13 01:29] alexbk66 commented on #101
Regarding **plugin version** - I started a topic in HS forum https://forums.homeseer.com/forum/homeseer-products-services/system-software-controllers/hs3-hs3pro-software/hs3-plug-in-development/1258609-display-plugin-version
I don't think it's an issue with HSPI

[2018-11-13 01:33] alexbk66 commented on #101
Regarding **registering config page** - I copied (and modified) the code from HSPI_HikAlarmCheck:
[code]

[2018-11-13 01:35] alexbk66 commented on #101
As I said before, HSPI_HikAlarmCheck is really good C# example, and it has good comments too which we might want to copy to HSPI

[2018-11-13 13:43] dpmurphy commented on #101
I had a quick look at the plugin version issue and it appears to be a "remote plugin” issue. If I take one of my plugins and run it remotely I get version as N/A, but when I run same plugin locally I get the version defined in the assembly.

I output the version to the console so I can see that info when operating remotely, which I only do for debug purposes. Once released I run all my plugins loc

[2018-11-14 21:16] jeangv commented on #103
@alexdresko and @oesolberg  with respect to the HSPI templates, they are fantastic in that once you have the environment setup, it gets you a template HS3 plugin very quickly. What is missing is a very basic "Hello World" plugin written using both TemplateA and TemplateB. For someone completely new, I can look at both the Moskus and HSPI_HikAlarmCheck plugins for some examples, but neither of thes

[2018-11-15 11:18] alexbk66 commented on #103
In .NET the entry point is `private static void Main`

[2018-11-16 00:41] jeangv commented on #103
Yes @alexbk66 I realize that for C# the entry point is the Main, but that is not really where the code logic should start after the plugin connects. After some more digging I learned that I needed to do a:

`public override string InitIO(string port)` in my HSPI class and place the code I wanted to kick off the there. I learned that since InitIO needs to return an empty string quickly, I just star

[2018-11-16 03:45] alexbk66 commented on #103
@jeangv What I did to learn the sequence of events - I override in my class every function called by HS and put a break point in every function.  Stupid, but very informative

[2018-11-16 03:55] jeangv commented on #103
@alexbk66  that is genius!! I would never have thought of that!!! Thank you!

[2018-11-16 04:04] jeangv opened #105 "Step By Step Videos On How To Use HSPI To Write An HS3 Plugin"
I went through some difficulty in getting started with the HSPI template due to some settings so I put together the first of a series of videos I will make on getting started with HS3 plugins based on HSPI.

Here is the first video and the steps to have a complete working environment.

[Video Series - How to Write Your Own HS3 3 Plugin Using HSPI - For Beginners - Video 1](https://youtu.be/8Ahx4sf

[2018-11-16 08:57] oesolberg commented on #103
@jeangv There are a lot of moving parts to get this running.  And for easy things you still need a lot of them functioning.
As @alexbk66 says: Put breakpoints into the HSPI.cs functions to learn the sequence order.

I hope that in the beginning of 2019 we will have at least one example app running using HSPI template.

[2018-11-23 09:44] oesolberg commented on #103
Moskus sample is now translated and seems to be working.
How should I add this to the solution?

[2018-12-11 08:53] oesolberg opened #107 "How to test the template (request for documentation)"
## Summary
I would like some documentation about how I can test the template if I do changes and compile it at home.

## Context

I would like to try to implement some changes that I would like to have
## Your Environment

* Developer environment: Visual Studio 2017

## Checklist
- [x] I have read the **CODE OF CONDUCT** document.
- [x] I have searched the issues_ list and could not find a similar

[2018-12-31 14:18] alexdresko commented on #107
@oesolberg I posted in gitter [here](https://gitter.im/HSPI/Lobby?at=5c2a1b0693cce97d3bc5ec64) but I'll make sure to include that information in the official documentation.

[2019-01-01 09:34] oesolberg commented on #107
Just adding the answer here for future reference

For each template that HSPI provides, there are two projects: For example, HSPIPluginA and HSPIPluginA.Dev. HSPIPluginA is the actual template, but it is not a runnable application. HSPIPluginA.Dev is a runnable, HS plugin. You can set your startup project be HSPIPluginA.Dev and F5 to start up an instance of that plugin.
The HomeSeerTemplates proje

[2019-01-16 20:45] melucas opened #108 "Type 'Scheduler.PhoneApp' is not marked as serializable."
## Summary

I would like to get access to the HS Phone Plugin PhoneBook via C#.

In my old ASP classic page, the reference to the hsp object is automatically created before the ASP page is run.  That give me access to hsp.ADRCount(), hsp.ADRGet(), etc.

In my C# project, I am trying to access HS Phone like this:
var hsp = hs.GetHSPRef();

## Expected Behavior
var hsp = hs.GetHSPRef();

Should give

[2019-01-17 08:53] oesolberg commented on #108
I think this is something you should ask on the HomeSeer forum. I can not find the call GetHSPRef in the SDK for HomeSeer 3 (https://homeseer.com/support/homeseer/HS3/SDK/default.htm)
Is this something that was in an earlier version of HomeSeer?

[2019-01-17 14:43] oesolberg commented on #108
Found this
https://forums.homeseer.com/forum/developer-support/scripts-plug-ins-development-and-libraries/hs3-scripting/108088-aspx-to-hsp-object-connection-hs-phone
with rjh writing (February 26th, 2018, 07:32 PM):
"HSPhone is pretty much dead at this point and will be pulled out of HS in some future version."

And they have released the source for the phone stuff public:
https://forums.homeseer.

[2019-01-17 16:57] melucas commented on #108
Thanks for the help!

[2019-01-17 16:57] #108 closed, assigned to nobody

[2019-01-17 17:46] alexdresko commented on #108
Top notch sleuthing there, @oesolberg. Thanks.

[2019-09-06 16:39] jldubz opened #111 "Copyright notice from HomeSeer: Please take this repo down"
Hello,

This content is currently copyrighted material from HomeSeer which has been redistributed using an open-source MIT license which it was not originally distributed with.  This material is not permitted to be redistributed in this manner, and we would appreciate it if you would take this repository down as soon as possible.

We are publishing new content to GitHub and NuGet and would like to

[2019-09-06 17:24] alexdresko commented on #111
Please explain specifically which material I need to bring down and I'll comply (if it makes sense). I've written most of this myself, so back off with your blanket "take this repo down" stuff. It's not going to happen.

[2019-09-06 17:32] alexdresko commented on #111
Also, try being nice. You'll get further.

[2019-09-06 17:42] jldubz commented on #111
The code contained within Connector.cs, HSPIBase.cs, HSPIBase2.cs, and Options.cs was taken directly from HomeSeer published content.  I can map a one-to-one relationship with that code and HomeSeer code.

This request has been made with the interest of avoiding confusing people in the community.  If this is something you do not care about, that is fine.  I will follow up with a DMCA takedown requ

[2019-09-06 17:47] alexdresko commented on #111
Where does it say that Connector.cs, HSPIBase.cs, HSPIBase2.cs, and Options.cs is copyright material and what about all of the other instances of this code on github? Are you having those taken down as well?

I'm not against doing what is right. I just need to make sure I do the right thing. And taking this repo down drastically undermines the community's desire for easier HS3 plugin development.

[2019-09-06 17:50] alekslyse commented on #111
So this mean people who developed open source plugins with this framework now will get a DMCA from HS?

[2019-09-06 17:52] alexdresko commented on #111
@alekslyse right? That's what I'm wondering.

[2019-09-06 18:05] jldubz commented on #111
There is a difference between the content distributed by HomeSeer for the purpose of plugin development and a package that redistributes that same content without giving credit to the original authors and then relicensed as open-sourced.  This package has not been updated since November of 2018, and is severely out of date with the existing HS3 platform as it is.  I looked through all of the resou

[2019-09-06 18:18] alexdresko commented on #111
But [I thought I did](https://hspi.readthedocs.io/en/latest/features.html#vb-net) provide the source of that code. Is there something else I need to do to provide the valid credit necessary?

My repo's activity (or at least the activity that can be measured) doesn't have anything to do with this copyright claim.

Your original desire was that developers not get confused with the new that's being p

[2019-09-06 18:32] alexdresko commented on #111
Also doesn't matter.

[2019-09-06 18:35] jldubz commented on #111
I'd really like to avoid mincing words here in an unproductive back-and-forth with you. I apologize if I was coming across as rude in the initial request, but I fail to see how this was the case when the request was made using phrases like, "we would appreciate it if you would..."

There was no ultimatum established or communicated in the original post, and yet you reacted as if there was.

I am e

[2019-09-06 18:35] dpmurphy commented on #111
I use it in the mysensors plugging.......while not in the updater is posted in the forums and being used.

I also am aware of moskus c# example version of the HS basic plugin uses it....

[2019-09-06 18:40] alexdresko commented on #111
I interpreted it as an ultimatum.

I said, "I'd like to figure out how to resolve this in a win-win scenario." and "I'm not against doing what is right." and "Is there something else I need to do to provide the valid credit necessary?"

You said, "Please take this repo down".

Now that we're on the same page about not removing the whole repo, please just tell me what you would like to see changed,

[2019-09-06 18:42] alexdresko commented on #111
You also said, "if this is something you do not care about, that is fine. I will follow up with a DMCA takedown request with GitHub directly. My apologies for asking you first."

Were you really trying to be friendly there?

[2019-09-06 18:47] dpmurphy commented on #111
Also this active thread is another layer....

https://forums.homeseer.com/forum/developer-support/programming-plug-in-development/1289533-yet-another-hspi-plugin-library <https://forums.homeseer.com/forum/developer-support/programming-plug-in-development/1289533-yet-another-hspi-plugin-library>

Jon all of these activities spawned from a need to make it easier to use HS plugin API....and different

[2019-09-06 18:54] alexdresko commented on #111
And while we're talking about it, I'll be one of those people who updates to HS4. If I personally do not like the HS4 API and I want to make it easier for other HS4 developers to create plugins, what is the appropriate way to do that?

[2019-09-06 19:01] oesolberg commented on #111
Even though this code has not been touched in a while it still works when developing a plugin for HomeSeer. I have maded 4 plugins so far and they run fine on my machine with the latest version of HomeSeer.

[2019-09-06 19:36] jldubz commented on #111
Dan,

I'm not interested in a spat either. I want to understand the playing field, and I want to have a civil discussion.

Thank you for providing this information.

Believe me, I totally understand the desire to make HS3 plugin development easier, and it looks like I did not dig far enough to determine how popular this package was.  The last updates I see are calling this "disheveled," and that s

[2019-09-06 19:48] alexdresko commented on #111
Thank you. This was nicely written.

I get it. You have a product, and an "image", and you're trying to make money. And my efforts show up more significantly because I snagged the "homeseer" nuget package. And my repo pops up first in GH when you search homeseer. But I see that I haven't made it clear enough that it's not official code.  I chose those names because, for years, there was no OSS act

[2019-09-06 20:38] dpmurphy commented on #111
Sound good guys looking forward to HS 4